
<section id="education">
    <h2>Education</h2>
        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="mt-8 overflow-hidden">
                <div class="grid grid-cols-1 md:grid-cols-1">
                    <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                        <p>Engineering Project Management</p>
                    </div>
                    <p>Universidad Distrital Francisco Jose De Caldas, Colombia </p>
                    <p>2017</p>
                </div>
                <div class="mt-8 grid grid-cols-1 md:grid-cols-1">
                    <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                        <p>Electronic Engineering</p>
                    </div>
                    <p>Universidad Distrital Francisco Jose De Caldas, Colombia </p>
                    <p>2014</p>
                </div>
                <div class="mt-8 grid grid-cols-1 md:grid-cols-1">
                    <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                        <p>High School</p>
                    </div>
                    <p>Santa Ana School, Colombia </p>
                    <p>2008</p>
                </div>
            </div>
        </div>
</section>