<section id="profile" class=" ">
    <div>
        <div>
            <h2 >About me</h2>
        </div>
        <div class="overflow-hidden content-end tems-end">
                <p>Enthusiastic and curious Software Engineer with passion for learning and process enhancement. 
                </p>
                <p>Over 7 years of experience in the IT field across diverse industries such as finance, social and electronic security services. </p>
                
                <button class="btn btn-color p-8" onClick="window.open('../../assets/KATERINE_GUARIN_CV2024.pdf')">Download cv</button>
                
                <div id="social-container">
                    <img src="../../assets/linkedin_blue.png" alt="My Linkedin profile"
                    class="icon" onclick="location.href='https://www.linkedin.com/in/katerineguaringuz/'"
                    />
                    <img src="../../assets/twitter-sign.png" alt="My Twittter profile"
                    class="icon" onclick="location.href='hhttps://twitter.com/'"
                    />
                    <img src="../../assets/github-mark.png" alt="My Github profile"
                    class="icon" onclick="location.href='https://github.com/gkguarin20'"
                    />
                </div>
        </div> 
    </div>
</section>

