<section id="experience" >
<div class="section-container"></div>
  <h2>My experience</h2>
    <div class="card shadow-2xl">
        <div class="p-4">
          <h2 class="card-primary-text">Full Stack Software Developer </h2>
          <p class="card-secundary-text text-right">Financial</p>
          <p class="card-secundary-text">The Nation Ministry of Finance and Public Credit</p>
          <p class="card-secundary-text text-left">Colombia</p>
          <div class="flex items-center">
            <p class="card-secundary-text ">2020 to 2022</p>
            <a class="ml-auto text-base font-medium text-green-500 hover:text-green-600">Details</a>
          </div>
        </div>
      </div>
</section>

