<!-- <div class="container px-6 py-8 mx-auto">
    <div class="lg:flex lg:-mx-2">
        <div class="space-y-3 lg:w-1/5 lg:px-2 lg:space-y-4">
            <app-nav></app-nav>
        </div>
        <div class="mt-6 lg:mt-0 lg:px-2 lg:w-4/5">
            <app-about></app-about>
            <app-experience></app-experience>
            <app-education></app-education>
            <app-skill></app-skill>
            <app-contact></app-contact>
        </div>
    </div>
</div> -->



        <app-nav></app-nav>


        <app-about></app-about>
        <app-experience></app-experience>
        <app-education></app-education>
        <app-skill></app-skill>
        <app-contact></app-contact>


